.btn {
  margin: 3px;
  padding: 0.75rem;
  width: 100%;          
  border-radius: 12px;   
  background-color: var(--spaceCadet) !important;; 
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #1b315e; 
}
