/* An individual book card */
.libraryBookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 320px;
  padding: 24px;

  border-radius: 20px;
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.libraryBookCard.incompleteCard {
  background: linear-gradient(135deg, #ffb470, #ffa157);
  outline-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 6px 18px rgba(255, 140, 0, 0.35);
}

.libraryBookCard.passedCard {
  background: linear-gradient(135deg, #b8f1cc, #88cfc3);
  outline-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 6px 18px rgba(183, 238, 209, 0.35);
}

.libraryBookCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

/*this is a little weird it worked when i tried it so im gonna keep it unless otherwise specified*/
.libraryBookCard h1,
.libraryBookCard h2,
.libraryBookCard h3 {
  font-size: 2.1rem !important;
  line-height: 1.25 !important;
  margin-bottom: 18px !important;
  font-weight: 700 !important;
  color: #1E1B4B !important;
}

.libraryBookCard p {
  font-size: 1.3rem !important; 
  line-height: 1.4 !important;
  margin: 8px 0 !important;
  color: #1E1B4B !important;
  opacity: 0.95;
  font-weight: 500;
}

.libraryBookCard button {
  margin-top: auto;
}

.progressReportCard {
  flex: 1;
  background: none;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.progressStats {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progressReportCard h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1E1B4B;
  margin-bottom: 12px;
}

.progressStats div {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1E1B4B;
}

/* recharts still new trying to see if we even need this cause i fixxed the colors*/
.recharts-legend-item-text {
  color: #1E1B4B !important;
  fill:  #1E1B4B !important;
  font-weight: 600;
}
