.layout-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.answer-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.answer-container {
    display: flex;
    flex-direction: column;
}